<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/StyleSheet.css" rel="stylesheet" type="text/css" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/jquery-2.1.0.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>


                <div class="float-right"> <!--Jag vill ha loginknapparna till höger längst upp-->
                    <section id="login">
                        @if (WebSecurity.IsAuthenticated) {
                            <text>
                                Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                                <form id="logoutForm" action="~/Account/Logout" method="post">
                                    @AntiForgery.GetHtml()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                                </form>
                            </text>
                        } else {
                            <div class="loginbuttons">
                                <ul>
                                    <li><a href="~/Account/Login">Log in</a></li>
                                    <li><a href="~/Account/Register">Register</a></li>
                                </ul>
                            </div>
                        }
                    </section>
                </div>
        </header>


        <div id="body" class="content-wrapper"> <!-- Innehållet kommer visas här. Delas upp i 2 delar. Features och main-->
            <div class="featured">
                @RenderSection("featured", required: false)
            </div>
            <div class="main">
                <img id="logo" src="~/Logo.png" />
                @if(Request.RawUrl.ToString().Trim().ToLower() == "/loginexample/" || Request.RawUrl.ToString().ToLower().Trim() == "/loginexample/default")
                {
                <div class="content-wrapper">
                        <ul class="menu">
                            <li><a href="~/">Perfume</a></li>
                            <li><a href="#">Handbags</a></li>
                            <li><a href="#">Jewelry</a></li>
                            <li><a href="#">Diverse</a></li>
                        </ul>

                </div>
                <div class="content">
                    @RenderBody()
                </div>
                }else
                {
                    <!--side menu goes here..... -->
                    <div class="content">
                        @RenderBody()
                    </div>
                }
            </div>
        </div>


        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                </div>
            </div>
        </footer>
        @RenderSection("Scripts", required: false)
    </body>
</html>